[Desktop Entry]
Categories=Utility;TextEditor;
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}} %F
StartupWMClass={{icon}}
Icon={{icon}}
Name={{name}}
Terminal=false
Type=Application
{{#if mime_type}}
MimeType={{mime_type}};
{{/if}}
